<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body,
        div,
        hr {
            padding: 0px;
            margin: 0px;
        }

        .footer {
            background-color: pink;
            text-align: center;
            height: 50px;
            line-height: 50px;
            color:rgb(25, 130, 228)
        }
    </style>
</head>

<body>
    <div class="footer">
        <hr> 天若有情天亦老 我将千年换明朝</div>

</body>

</html>